.myheading{
    background-color: #333;
}

.logout {
    margin-right: -15px;
}

.dropdown-menu li a {
    margin-left: 5px;
    text-align: center;
}

.dropdown-menu li a i {
    float: left;
}

.dropdown-menu-title {
    background: #222;
    color: #fff;
    padding: 8px 0px;
    position: relative;
    text-align: center;
}

footer {
    height: 100px;
    width: 100%;
    text-align: center;
    color: #fff;
    margin-top: 30px;
}

footer p {
    margin-top: 50px;
}